.form-container{
    width: 100%;
    display: grid;
    grid-template-columns: 100px 300px;
    justify-content: center;
    grid-gap: 5px;
   
}

.form-container label{
    justify-self: flex-end;
    padding-right: 15px;
}

.form-container input{
    border-radius: 10px;
}

.form-container button{
   width: 100px;
   justify-self: center;
}