body{
    /* background-image: url("img/world_map.png") */
}
.hero{
    display: flex;
    justify-content: center;
    margin: 10px 0;
    height: 80vh;
}
.hero img{
    max-width: 100%;
  
}

#logo{
    max-width: 70px;
}
.important-text{
color:yellow !important;
}

li a{
    color: white;
}

.c_top_trendy{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(4,100px);
    grid-template-areas: "main main main main second second"
                         "main main main main second second"
                         "main main main main third four"
                         "main main main main third four";
    grid-gap: 10px;
}


.main_place{
    grid-area: main;
    background-color: red;
}

.second_place{
    grid-area: second;
    background-color: blue;
}

.third_place{
    grid-area: third;
    background-color: greenyellow;
}

.four_place{
    grid-area: four;
    background-color: aqua;
}

@media screen and (max-width: 800px){
    .hero{
        height: 40vh;
    }
    .c_top_trendy{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(4,150px);
        grid-template-areas: "main main"
                             "main main"
                             "second second"
                             "third four";
        grid-gap: 10px;
    }

  
}