body{
   
}

.container{
    /* background-color: blue; */
}
.hero{
    display: flex;
    justify-content: center;
    margin: 10px 0;
   
}
.hero img{
    max-width: 100%;
    height: 80vh;
}

#logo{
    max-width: 70px;
}
.important-text{
color:yellow !important;
}

li a{
    color: white;
}

.c_top_trendy{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(4,100px);
    grid-template-areas: "main main main main second second"
                         "main main main main second second"
                         "main main main main third four"
                         "main main main main third four";
    grid-gap: 10px;
}


.main_place{
    grid-area: main;
    background-color: red;
}

.c_top_trendy img{
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}
.second_place{
    grid-area: second;
    background-color: blue;
}

.third_place{
    grid-area: third;
    background-color: greenyellow;
}

.four_place{
    grid-area: four;
    background-color: aqua;
}

.cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 15px;
    justify-items: center;
    padding-bottom: 20px;
}
.card img{
    height: 150px;
    object-fit: cover;
}

footer{
    height: 100px;
    margin-top: 20px;
}
@media screen and (max-width: 800px){
    .hero img{
        max-width: 100%;
        height: 40vh;
    }
    .c_top_trendy{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(4,150px);
        grid-template-areas: "main main"
                             "main main"
                             "second second"
                             "third four";
        grid-gap: 10px;
    }

  
}

