 body{
    font-family: 'Muli', sans-serif;
}

.container_d{
    /* background-color: blue; */
    width: 100%;
}

#main{
    
}
#main img{
    width: 100%;
    height: 60vh;
    object-fit: cover;
    object-position: center;

 }
.hero{
    display: flex;
    justify-content: center;
    margin: 10px 0;
   
}
.hero img{
    max-width: 100%;
    height: 80vh;
}

#logo{
    max-width: 70px;
}
.important-text{
color:yellow !important;
}

li a{
    color: white;
}

.c_top_trendy{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(4,100px);
    grid-template-areas: "main main main main second second"
                         "main main main main second second"
                         "main main main main third four"
                         "main main main main third four";
    grid-gap: 10px;
}
.c_top_trendy img{
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.c_top_trendy a{
    width: 100%;
    height: 100%;
}

.main_place{
    grid-area: main;
    width: 100%;
    height: 100%;
}

.second_place{
    grid-area: second;
}

.third_place{
    grid-area: third;

}

.four_place{
    grid-area: four;

}

.cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-areas: "card1 card2 card3";
    margin-top: 15px;
    justify-items: center;
    padding-bottom: 20px;
}

.card:nth-child(1){
 grid-area: card1;
}

.card:nth-child(2){
    grid-area: card2;
}

.card:nth-child(3){
    grid-area: card3;
}
.card img{
    height: 150px;
    object-fit: cover;
}

footer{
    height: 100px;
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}

footer div a{
    color:white;
}

footer div a:hover{
    text-decoration: none;
    color: rgba(255,255,255,.5);
}
.sign{
    width: fit-content;
    height: fit-content;
    align-self: flex-end;
    padding-right: 10px;
    color:white;
}

/* plan_trip */
/* /plan_trip */
@media screen and (max-width: 800px){
    
    #main img{
        height: 40vh;
    }
    .hero img{
        max-width: 100%;
        height: 40vh;
    }
    .c_top_trendy{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(4,150px);
        grid-template-areas: "main main"
                             "main main"
                             "second second"
                             "third four";
        grid-gap: 10px;
    }
    
    .cards{
        grid-template-columns: 1fr;
        grid-template-areas: "card1"
                             "card2"
                             "card3";
        margin-top: 15px;
        justify-items: center;
        justify-content: center;
        padding-bottom: 20px;
    }

    .card{
        margin-top: 20px;
    }
  
}

